<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjc.ssm.mapper.AssetMapper" >
  <resultMap id="BaseResultMap" type="com.zjc.ssm.pojo.Asset" >
    <id column="ASSETUID" property="assetuid" jdbcType="INTEGER" />
    <result column="ASSETNUM" property="assetnum" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="SITEID" property="siteid" jdbcType="VARCHAR" />
    <result column="RFID" property="rfid" jdbcType="VARCHAR" />
    <result column="PHYNUM" property="phynum" jdbcType="VARCHAR" />
    <result column="DOWNFLAG" property="downflag" jdbcType="BIT" />
    <result column="DOWNTIME" property="downtime" jdbcType="TIMESTAMP" />
    <result column="UPLOADFLAG" property="uploadflag" jdbcType="BIT" />
    <result column="UPLOADTIME" property="uploadtime" jdbcType="TIMESTAMP" />
    <result column="ACTION" property="action" jdbcType="VARCHAR" />
    <result column="ACTIONSIDE" property="actionside" jdbcType="VARCHAR" />
    <result column="ACTIONTIME" property="actiontime" jdbcType="TIMESTAMP" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
  </resultMap>

  <!--查询设备列表-->
  <select id="getAssets"  resultType="com.zjc.ssm.vo.AssetVo">

    SELECT `wsn-rfidphy`.RFID rfid, `wsn-rfidphy`.PHYNUM phynum, `cstdasset`.ASSETNUM assetnum, `asset`.DESCRIPTION description,
    `asset`.TYPE type FROM `asset` ,`cstdasset` ,`wsn-rfidphy`
    WHERE `asset`.ASSETNUM = `cstdasset`.ASSETNUM and `asset`.ASSETNUM=`wsn-rfidphy`.ASSETNUM

  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ASSETUID, ASSETNUM, DESCRIPTION, LOCATION, SITEID, RFID, PHYNUM, DOWNFLAG, DOWNTIME, 
    UPLOADFLAG, UPLOADTIME, ACTION, ACTIONSIDE, ACTIONTIME, TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zjc.ssm.pojo.AssetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asset
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from asset
    where ASSETUID = #{assetuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from asset
    where ASSETUID = #{assetuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjc.ssm.pojo.AssetExample" >
    delete from asset
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjc.ssm.pojo.Asset" >
    insert into asset (ASSETUID, ASSETNUM, DESCRIPTION, 
      LOCATION, SITEID, RFID, 
      PHYNUM, DOWNFLAG, DOWNTIME, 
      UPLOADFLAG, UPLOADTIME, ACTION, 
      ACTIONSIDE, ACTIONTIME, TYPE
      )
    values (#{assetuid,jdbcType=INTEGER}, #{assetnum,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{siteid,jdbcType=VARCHAR}, #{rfid,jdbcType=VARCHAR}, 
      #{phynum,jdbcType=VARCHAR}, #{downflag,jdbcType=BIT}, #{downtime,jdbcType=TIMESTAMP}, 
      #{uploadflag,jdbcType=BIT}, #{uploadtime,jdbcType=TIMESTAMP}, #{action,jdbcType=VARCHAR}, 
      #{actionside,jdbcType=VARCHAR}, #{actiontime,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjc.ssm.pojo.Asset" >
    insert into asset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assetuid != null" >
        ASSETUID,
      </if>
      <if test="assetnum != null" >
        ASSETNUM,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="location != null" >
        LOCATION,
      </if>
      <if test="siteid != null" >
        SITEID,
      </if>
      <if test="rfid != null" >
        RFID,
      </if>
      <if test="phynum != null" >
        PHYNUM,
      </if>
      <if test="downflag != null" >
        DOWNFLAG,
      </if>
      <if test="downtime != null" >
        DOWNTIME,
      </if>
      <if test="uploadflag != null" >
        UPLOADFLAG,
      </if>
      <if test="uploadtime != null" >
        UPLOADTIME,
      </if>
      <if test="action != null" >
        ACTION,
      </if>
      <if test="actionside != null" >
        ACTIONSIDE,
      </if>
      <if test="actiontime != null" >
        ACTIONTIME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assetuid != null" >
        #{assetuid,jdbcType=INTEGER},
      </if>
      <if test="assetnum != null" >
        #{assetnum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=VARCHAR},
      </if>
      <if test="rfid != null" >
        #{rfid,jdbcType=VARCHAR},
      </if>
      <if test="phynum != null" >
        #{phynum,jdbcType=VARCHAR},
      </if>
      <if test="downflag != null" >
        #{downflag,jdbcType=BIT},
      </if>
      <if test="downtime != null" >
        #{downtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadflag != null" >
        #{uploadflag,jdbcType=BIT},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="actionside != null" >
        #{actionside,jdbcType=VARCHAR},
      </if>
      <if test="actiontime != null" >
        #{actiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjc.ssm.pojo.AssetExample" resultType="java.lang.Integer" >
    select count(*) from asset
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update asset
    <set >
      <if test="record.assetuid != null" >
        ASSETUID = #{record.assetuid,jdbcType=INTEGER},
      </if>
      <if test="record.assetnum != null" >
        ASSETNUM = #{record.assetnum,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        LOCATION = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.siteid != null" >
        SITEID = #{record.siteid,jdbcType=VARCHAR},
      </if>
      <if test="record.rfid != null" >
        RFID = #{record.rfid,jdbcType=VARCHAR},
      </if>
      <if test="record.phynum != null" >
        PHYNUM = #{record.phynum,jdbcType=VARCHAR},
      </if>
      <if test="record.downflag != null" >
        DOWNFLAG = #{record.downflag,jdbcType=BIT},
      </if>
      <if test="record.downtime != null" >
        DOWNTIME = #{record.downtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadflag != null" >
        UPLOADFLAG = #{record.uploadflag,jdbcType=BIT},
      </if>
      <if test="record.uploadtime != null" >
        UPLOADTIME = #{record.uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.action != null" >
        ACTION = #{record.action,jdbcType=VARCHAR},
      </if>
      <if test="record.actionside != null" >
        ACTIONSIDE = #{record.actionside,jdbcType=VARCHAR},
      </if>
      <if test="record.actiontime != null" >
        ACTIONTIME = #{record.actiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update asset
    set ASSETUID = #{record.assetuid,jdbcType=INTEGER},
      ASSETNUM = #{record.assetnum,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      LOCATION = #{record.location,jdbcType=VARCHAR},
      SITEID = #{record.siteid,jdbcType=VARCHAR},
      RFID = #{record.rfid,jdbcType=VARCHAR},
      PHYNUM = #{record.phynum,jdbcType=VARCHAR},
      DOWNFLAG = #{record.downflag,jdbcType=BIT},
      DOWNTIME = #{record.downtime,jdbcType=TIMESTAMP},
      UPLOADFLAG = #{record.uploadflag,jdbcType=BIT},
      UPLOADTIME = #{record.uploadtime,jdbcType=TIMESTAMP},
      ACTION = #{record.action,jdbcType=VARCHAR},
      ACTIONSIDE = #{record.actionside,jdbcType=VARCHAR},
      ACTIONTIME = #{record.actiontime,jdbcType=TIMESTAMP},
      TYPE = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjc.ssm.pojo.Asset" >
    update asset
    <set >
      <if test="assetnum != null" >
        ASSETNUM = #{assetnum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null" >
        SITEID = #{siteid,jdbcType=VARCHAR},
      </if>
      <if test="rfid != null" >
        RFID = #{rfid,jdbcType=VARCHAR},
      </if>
      <if test="phynum != null" >
        PHYNUM = #{phynum,jdbcType=VARCHAR},
      </if>
      <if test="downflag != null" >
        DOWNFLAG = #{downflag,jdbcType=BIT},
      </if>
      <if test="downtime != null" >
        DOWNTIME = #{downtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadflag != null" >
        UPLOADFLAG = #{uploadflag,jdbcType=BIT},
      </if>
      <if test="uploadtime != null" >
        UPLOADTIME = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="action != null" >
        ACTION = #{action,jdbcType=VARCHAR},
      </if>
      <if test="actionside != null" >
        ACTIONSIDE = #{actionside,jdbcType=VARCHAR},
      </if>
      <if test="actiontime != null" >
        ACTIONTIME = #{actiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where ASSETUID = #{assetuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjc.ssm.pojo.Asset" >
    update asset
    set ASSETNUM = #{assetnum,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      LOCATION = #{location,jdbcType=VARCHAR},
      SITEID = #{siteid,jdbcType=VARCHAR},
      RFID = #{rfid,jdbcType=VARCHAR},
      PHYNUM = #{phynum,jdbcType=VARCHAR},
      DOWNFLAG = #{downflag,jdbcType=BIT},
      DOWNTIME = #{downtime,jdbcType=TIMESTAMP},
      UPLOADFLAG = #{uploadflag,jdbcType=BIT},
      UPLOADTIME = #{uploadtime,jdbcType=TIMESTAMP},
      ACTION = #{action,jdbcType=VARCHAR},
      ACTIONSIDE = #{actionside,jdbcType=VARCHAR},
      ACTIONTIME = #{actiontime,jdbcType=TIMESTAMP},
      TYPE = #{type,jdbcType=VARCHAR}
    where ASSETUID = #{assetuid,jdbcType=INTEGER}
  </update>
</mapper>