<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjc.ssm.mapper.Pistd2Mapper" >
  <resultMap id="BaseResultMap" type="com.zjc.ssm.pojo.Pistd2" >
    <id column="PISTDID" property="pistdid" jdbcType="BIGINT" />
    <result column="PISTDNUM" property="pistdnum" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PIPROFESSION" property="piprofession" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PISTDID, PISTDNUM, DESCRIPTION, PIPROFESSION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zjc.ssm.pojo.Pistd2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pistd2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pistd2
    where PISTDID = #{pistdid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pistd2
    where PISTDID = #{pistdid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjc.ssm.pojo.Pistd2Example" >
    delete from pistd2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjc.ssm.pojo.Pistd2" >
    insert into pistd2 (PISTDID, PISTDNUM, DESCRIPTION, 
      PIPROFESSION)
    values (#{pistdid,jdbcType=BIGINT}, #{pistdnum,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{piprofession,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjc.ssm.pojo.Pistd2" >
    insert into pistd2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pistdid != null" >
        PISTDID,
      </if>
      <if test="pistdnum != null" >
        PISTDNUM,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="piprofession != null" >
        PIPROFESSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pistdid != null" >
        #{pistdid,jdbcType=BIGINT},
      </if>
      <if test="pistdnum != null" >
        #{pistdnum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="piprofession != null" >
        #{piprofession,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjc.ssm.pojo.Pistd2Example" resultType="java.lang.Integer" >
    select count(*) from pistd2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pistd2
    <set >
      <if test="record.pistdid != null" >
        PISTDID = #{record.pistdid,jdbcType=BIGINT},
      </if>
      <if test="record.pistdnum != null" >
        PISTDNUM = #{record.pistdnum,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.piprofession != null" >
        PIPROFESSION = #{record.piprofession,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pistd2
    set PISTDID = #{record.pistdid,jdbcType=BIGINT},
      PISTDNUM = #{record.pistdnum,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      PIPROFESSION = #{record.piprofession,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjc.ssm.pojo.Pistd2" >
    update pistd2
    <set >
      <if test="pistdnum != null" >
        PISTDNUM = #{pistdnum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="piprofession != null" >
        PIPROFESSION = #{piprofession,jdbcType=VARCHAR},
      </if>
    </set>
    where PISTDID = #{pistdid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjc.ssm.pojo.Pistd2" >
    update pistd2
    set PISTDNUM = #{pistdnum,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PIPROFESSION = #{piprofession,jdbcType=VARCHAR}
    where PISTDID = #{pistdid,jdbcType=BIGINT}
  </update>
</mapper>