<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjc.ssm.mapper.Pistdasset2Mapper" >
  <resultMap id="BaseResultMap" type="com.zjc.ssm.pojo.Pistdasset2" >
    <id column="PISTDASSETID" property="pistdassetid" jdbcType="BIGINT" />
    <result column="PISTDNUM" property="pistdnum" jdbcType="VARCHAR" />
    <result column="ASSETNUM" property="assetnum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PISTDASSETID, PISTDNUM, ASSETNUM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zjc.ssm.pojo.Pistdasset2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pistdasset2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pistdasset2
    where PISTDASSETID = #{pistdassetid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pistdasset2
    where PISTDASSETID = #{pistdassetid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjc.ssm.pojo.Pistdasset2Example" >
    delete from pistdasset2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjc.ssm.pojo.Pistdasset2" >
    insert into pistdasset2 (PISTDASSETID, PISTDNUM, ASSETNUM
      )
    values (#{pistdassetid,jdbcType=BIGINT}, #{pistdnum,jdbcType=VARCHAR}, #{assetnum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjc.ssm.pojo.Pistdasset2" >
    insert into pistdasset2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pistdassetid != null" >
        PISTDASSETID,
      </if>
      <if test="pistdnum != null" >
        PISTDNUM,
      </if>
      <if test="assetnum != null" >
        ASSETNUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pistdassetid != null" >
        #{pistdassetid,jdbcType=BIGINT},
      </if>
      <if test="pistdnum != null" >
        #{pistdnum,jdbcType=VARCHAR},
      </if>
      <if test="assetnum != null" >
        #{assetnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjc.ssm.pojo.Pistdasset2Example" resultType="java.lang.Integer" >
    select count(*) from pistdasset2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pistdasset2
    <set >
      <if test="record.pistdassetid != null" >
        PISTDASSETID = #{record.pistdassetid,jdbcType=BIGINT},
      </if>
      <if test="record.pistdnum != null" >
        PISTDNUM = #{record.pistdnum,jdbcType=VARCHAR},
      </if>
      <if test="record.assetnum != null" >
        ASSETNUM = #{record.assetnum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pistdasset2
    set PISTDASSETID = #{record.pistdassetid,jdbcType=BIGINT},
      PISTDNUM = #{record.pistdnum,jdbcType=VARCHAR},
      ASSETNUM = #{record.assetnum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjc.ssm.pojo.Pistdasset2" >
    update pistdasset2
    <set >
      <if test="pistdnum != null" >
        PISTDNUM = #{pistdnum,jdbcType=VARCHAR},
      </if>
      <if test="assetnum != null" >
        ASSETNUM = #{assetnum,jdbcType=VARCHAR},
      </if>
    </set>
    where PISTDASSETID = #{pistdassetid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjc.ssm.pojo.Pistdasset2" >
    update pistdasset2
    set PISTDNUM = #{pistdnum,jdbcType=VARCHAR},
      ASSETNUM = #{assetnum,jdbcType=VARCHAR}
    where PISTDASSETID = #{pistdassetid,jdbcType=BIGINT}
  </update>
</mapper>