<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  ">
<!-- 工艺点检service -->
<bean id="loginService" class="com.zjc.ssm.serviceimpl.LoginServiceImpl"/>
<bean id="taskService" class="com.zjc.ssm.serviceimpl.TaskServiceImpl"/>
<bean id="historyRecordService" class="com.zjc.ssm.serviceimpl.HistoryRecordServiceImpl"/>
<bean id="checkService" class="com.zjc.ssm.serviceimpl.CheckServiceImpl"/>
</beans>